@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica-Bold.woff2') format('woff2'), url('../fonts/Helvetica-Bold.woff') format('woff'), url('../fonts/Helvetica-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body, html {
	margin: 0;
	padding: 0;
}

*, *::after, *::before {
	box-sizing: inherit;
}

.petbucket-animate {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes petbucketfadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

}

@keyframes petbucketfadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

}

@-webkit-keyframes petbucketfadeOutLeft {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

}

@keyframes petbucketfadeOutLeft {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

}

.petbucketfadeOutLeft {
	-webkit-animation-name: petbucketfadeOutLeft;
	animation-name: petbucketfadeOutLeft;
}

.petbucketfadeInRight {
	-webkit-animation-name: petbucketfadeInRight;
	animation-name: petbucketfadeInRight;
}

.petbucket-step-1:after {
	content: " ";
	display: inline-block;
	background: url('../img/arrow.png');
	width: 13px;
	height: 22px;
	margin-left: 12px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.petbucket-link:after {
	content: " ";
	display: inline-block;
	background: url('../img/arrow-dark.png');
	width: 6px;
	height: 10px;
	margin-left: 5px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.petbucket-link {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	font-size: 24px;
	font-family: "Helvetica";
	color: rgb(68, 71, 57);
	text-decoration: none;
	padding: 8px 15px;
	text-transform: uppercase;
	font-weight: 700;
}

.petbucket-step-3 .petbucket-step-3-title {
	font-size: 13px;
	font-family: "Helvetica";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 15px;
	letter-spacing: 2px;
}

.petbucket-step-1 {
	z-index: 999999999;
	text-decoration: none;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-family: "Helvetica";
	color: rgb(255, 255, 255);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 27px 10px;
	background: #8dad35;
	text-transform: uppercase;
}

.petbucket-step-1, .petbucket-step-2 {
	font-weight: 700;
}

.petbucket-step-3, .petbucket-step-2 {
	z-index: 999999998;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 27px 10px;
	background: #8dad35;
	font-family: "Helvetica";
	color: rgb(255, 255, 255);
}
.petbucket-steps{
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: 0 0 100%;
	max-width: 100%;
	justify-content: space-between;
}
.petbucket-step-3 .petbucketstep-select {
	display: inline-block;
	font-size: 10px;
	font-family: "Helvetica";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
    flex: 0 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 65px;

}

.petbucket-step-3 [data-petbucketselect]:before {
	width: 34px;
	height: 34px;
	display: block;
	content: " ";
	background-image: url('../img/flea.png');
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-size: 100%;

}

.petbucket-step-3 [data-petbucketselect="tick"]:before {
	background-image: url('../img/tick.png');
}

.petbucket-step-3 [data-petbucketselect="heartworm"]:before {
	background-image: url('../img/heartworm.png');
}

.petbucket-step-3 [data-petbucketselect="iw"]:before {
	background-image: url('../img/investinal-worms.png');
}

.petbucket-step-3 {
	z-index: 999999997;
	flex-wrap: wrap;
	text-align: center;
	align-items: stretch;
	justify-content: space-between;
	padding: 16px 40px 12px;
}

.petbucket-step-2 span {
	font-size: 12px;
	letter-spacing: 2px;
}
.petbucket-step-2 img {
	max-height: 25px;
	margin-left: auto;
	margin-right: auto;
}
.dogs-cats-menu {
	padding-left: 30px;
	padding-right: 15px;
}
@media(min-width:425px) {
	.petbucket-step-1 {
		font-size: 13px;
	}

	.petbucket-step-1:after {
		width: 8px;
		height: 15px;
	}

	.petbucket-step-2 span {
		margin-left: 16px;
		margin-right: 16px;
	}

	.petbucket-link span {
		margin-left: 5px;
		margin-right: 3px;
	}

}

@media (max-width:565px) {
	.petbucket-step-3 {
		padding-left: 20px;
		padding-right: 20px;
	}

	.petbucket-step-3 .petbucket-step-3-title {
		font-size: 13px;
	}

	.petbucket-link {
		font-size: 12px;
		padding: 5px 8px;
	}

}

@media(max-width:425px) {
	.petbucket-step-3 [data-petbucketselect]:before {
		width: 43px;
		height: 43px;
	}

	.petbucket-step-1 {
		font-size: 13px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.petbucket-step-1:after {
		width: 8px;
		height: 15px;
	}

	.petbucket-step-2 span {
		margin-left: 6px;
		margin-right: 6px;
		font-size: 11px;
	}

	.petbucket-link span {
		margin-left: 5px;
		margin-right: 3px;
	}
}

.petbucket-step-3 localizerinlinegroup {
    display: flex;
    flex: 0 0 auto;
}