.form-top-links {
	max-width: 500px;
	display: flex;
	border: 1px solid #c7ced1;
	background-color: #f4f6fc;
    box-sizing: border-box;
}
.form-top-links .link-tab:nth-child(1).active {
    background-image: url("https://htmldiz.github.io/prom_tests/img/first_step_bg.png");
    margin-right: -10px;
}
.form-top-links .link-tab:nth-child(2).active {
    background-image: url("https://htmldiz.github.io/prom_tests/img/second_step_bg.png");
    margin-left: -8px;
}
.link-tab {
	margin: -1px;
	color: #333333;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px 30px 15px 50px;
    flex: 0 0 calc(50% + 10px);
    box-sizing: border-box;
}
.link-tab:hover {
	color: inherit;
	text-decoration: none;
}
.x-order-form-row__label {
	margin-top: 30px;
}